#Some of these are related to eclipse. So i keep them out of my repo
.cproject
.dep/
.project
.settings/
Debug/
Release/

#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym

# output
*.elf
*.hex